@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic&display=swap);

.wrapper {
    position: relative;
    height: 100vh;
}

header{
    background-color: black;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
}

.header-menu{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.logo{
    font-size: 36px;
}

/* 
    #tiger{
        padding-top: 125px;
        margin-top: -100px;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
    #tiger div{
    
        margin-top: 76px;
    } */

.menu-list{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 18px;
    color: #442b1a9f;
    /* background-color: aqua; */
}

.sidebar-list>li a {
    padding: 10px 0;
    display: block;
}

.sidebar-list>li:first-child a {
    padding-top: 0;
}

.sidebar-list>li:last-child a{
    padding-bottom: 0;
}

.sidebar-list li:not(:first-child) a:hover,
.sidebar-list li:not(:last-child) a:hover {
    font-size: 22px;
    padding: 8px 0;
    color: #5b3b1d;
}


.sidebar-list>li:first-child a:hover {
    font-size: 22px;
    padding: 0 0 6px 0;
}

.sidebar-list>li:last-child a:hover {
    font-size: 22px;
    padding: 6px 0 0;
}

/* .sidebar a:hover + .sidebar {
    background-color: rgb(219, 84, 84);
} */


.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.photo-list {
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 0;
}

.photo-list>li {
    position: relative;
    overflow: hidden;
    padding: 25px 0;
}

.photo-list img {
    border-radius: 15px;
}

.photo-list h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.text-container {
    position: absolute;
    top: 50%;
    /* top: calc(50%+76px); */
    left: 0;
    transform: translateY(-50%);
    padding: 40px 30px;
    max-height: 300px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: 0.5s;
}

.text-container>p {
    color: transparent;
    padding: 20px 0;
    transition: 0.1s;
    transition-delay: 0.5s;
}

.text-container>p::before {
    content: '';
    display: block;
    position: relative;
    width: 0%;
    margin: 0 auto;
    top: -20px;
    border-top: 1px solid #5b3b1d;
    transition: 0.3s;
    transition-delay: 0.3s;
}


.text-container>p::after {
    content: '';
    display: block;
    position: relative;
    width: 0%;
    margin: 0 auto;
    bottom: -20px;
    border-top: 1px solid #5b3b1d;
    transition: 0.3s;
    transition-delay: 0.3s;
}

.photo-list>li:hover>.text-container {
    opacity: 1;
}

.photo-list>li:hover .text-container>p {
    color: #442b13;
}

.photo-list>li:hover .text-container>p::before,
ul>li:hover p::after {
    width: 70%;
}

li>img {
    width: 100%;
}