@import url(reset.css);

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vetrino';
    src: url('/fonts/Vetrino/VetrinoRegular.woff2') format('woff2'),
        url('/fonts/Vetrino/VetrinoRegular.woff') format('woff'),
        url('/fonts/Vetrino/VetrinoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



body {
    /* overflow: hidden; */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #161616;
    background-color: #D8D8D6;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

section:first-child .container {
    padding: 0 15px 120px;
}

section:not(:first-child) .container {
    padding: 120px 15px;
}

header {
    background: #81A36B;
    padding: 25px 0;
}

.nav-list {
    display: flex;
    gap: 90px;
}

.space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

[class*=block]:not(:last-child) {
    margin-bottom: 120px;
}

article {
    max-width: 540px;
}

article>h1:not(:last-child),
article>h3:not(:last-child) {
    margin-bottom: 60px;
}

h1 {
    font-size: 62px;
    font-family: 'Vetrino';
    line-height: 1.081;
    text-transform: uppercase;
}

.amelia>p:last-of-type{
    margin-bottom: 40px;
}

.image-box {
    max-width: 540px;
}

.buttons {
    max-width: 445px;
}

.button {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid #81A36B;
}

.button:hover {
    background-color: #81A36B;
}

.subarticle {
    margin: auto;
    text-align: center;
}

h3 {
    color: #000;
    font-size: 32px;
    font-family: 'Vetrino';
    text-align: center;
    line-height: 1.064;
}

.advantages {
    background: #81A36B;
    padding: 80px 0;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.advantages-list img {
    margin-bottom: 20px;
}

.advantages-list h5 {
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 22px;
}

.gallery-container h3 {
    margin-bottom: 80px;
}

.gallery-item {
    padding: 15px 15px 40px;
    background-color: #81A36B;
}

.gallery-item img {
    margin-bottom: 23px;
}

.gallery-item h5 {
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
}

footer {
    padding: 60px 0;
    background-color: #81A36B;
    font-family: Roboto;
    font-weight: 400;
}

h4 {
    font-size: 24px;
}

footer [class*=list] {
    padding: 40px 0px;
}

footer .container {
    position: relative;
    align-items: flex-start;
}

.contacts-list>li {
    margin-bottom: 20px;
}

.socials-list>li {
    text-align: center;
}

footer .logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -77.5px;
}

.created {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
}

#about-us-anchor{
    margin-top: 1px;
}